:root {
    --background-color: #fff;
    --text-color: #24292d;
    --link-color: #543fd7;
    --color: #a1a1a8;
    --bg-light: #f8f9fa;
    --bs-bg-opacity: 0.1;
    --bs-light-rgb: 42, 44, 49;
}

html[data-theme='light'] {
    --background-color: #fff;
    --text-color: #24292d;
    --link-color: #543fd7;
    --bs-bg-opacity: 0.1;

}

html[data-theme='dark'] {
    --background-color: #222529;
    --text-color: #fff;
    --link-color: #828fff;
    --bs-bg-opacity: 1;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #747579;
    background-color: var(--background-color);
}

html {
    font-size: 100%;
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

img {
    max-width: 100%;
    height: auto;
    position: relative;
}

/* =============================================== */
/* Các thẻ H */

h1 {
    font-size: 2.8125rem;
}

h2 {
    font-size: 2.34375rem;
}

h6 {
    font-size: 0.9375rem;
}

h3 {
    font-size: 1.875rem;
}

h1,
h6,
h2,
h3,
h5>a {
    color: var(--text-color);
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* Đảm bảo phần tử HTML và thẻ mặc định không có padding và margin */



/* -------------------------- */
/* Header */
.navbar {
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 1020;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* max-width: 1300px; */

}

.navbar>.container {
    display: flex;
    justify-content: space-between;
}

.navbar__start {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* navbar image */
.navbar__start img {
    max-width: 100%;
    /* height: auto; */
    height: 36px;
    display: block;
    width: auto;
}

/* navbar switch*/
.navbar__switch {
    cursor: pointer;
}

.navbar__switch {
    width: 42px;
    height: 12px;
    background: #747579;
    border-radius: 60px;
    display: flex;
    align-items: center;
    margin: 0 16px;
    transition: all 1s;
}

.navbar__switch--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-14%);
    height: 26px;
    width: 26px;
    background: #d8831b;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 40%);
    font-size: 14px;
    color: #fff;
    transition: all 1s;

}



html[data-theme=dark] .navbar__switch--icon {
    transform: translateX(80%);
    background-color: #000;
}


.navbar__switch--icon::before {
    animation: rotateIn;
    animation-duration: 1s;
    content: "\f185";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    border: none;
    height: 26px;
    width: 26px;
    line-height: 26px;
    text-align: center;
    display: block;
    transition: all 1s;

}

html[data-theme=dark] .navbar__switch .navbar__switch--icon::before {
    animation: rotateOut;
    animation-duration: 1s;
    content: "\f186";
}

/* 
html[data-theme=light] .navbar__switch .navbar__switch--icon::before {
    animation: rotateIn;
    animation-duration: 1s;
    content: "\f185";
} */


/* Main */

/* banner */
section {
    padding-top: 3.5rem;
    padding-bottom: 2.8rem;
}

.banner {
    position: relative;
}

.banner__pattern {
    position: absolute;
    top: -150px;
    right: 0;
}

.banner__content {
    align-items: center;
}


.btn {
    letter-spacing: 0.5px;
    overflow: hidden;
    outline: 0;
    white-space: nowrap;
    margin-bottom: 6px;
}



.fill-primary {
    fill: #066ac9 !important;
}

.opacity-1 {
    opacity: 0.1 !important;
}

/* ==================================================== */
/* about 2 */
.about {
    align-items: center;
}

.about__pattern {
    position: absolute;
    left: -5rem;
    top: -3rem;
}

.about__pt {
    position: relative;
}


.about__list {
    background-color: var(--background-color) !important;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.325rem;
}

.about__list--item {
    background-color: var(--background-color);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    border: none;
}

.btn-primary-soft {
    color: #066ac9;
    background-color: rgba(6, 106, 201, 0.1);
    border: none;
}

/* ============================================ */
/* list course */

.courses {
    background-color: rgba(0, 123, 255, 0.1);
    border-radius: 0.25rem;
    text-align: center;
    padding: 1rem;
    transition: transform 0.2s ease-in-out;
}

.courses__img {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 1.9rem;
    background-color: var(--background-color);
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.courses__link {
    font-weight: 750;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
    font-size: 1.3125rem;
}

.courses__link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";

}

.courses:hover {
    transform: translateY(-3px);
}





/* ========================================== */
/* DownLoad */
.download {
    position: relative;
    align-items: center;
}

.download__pattern {
    position: absolute;
    right: -80px;
}

.action {
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;
    margin-top: 5rem;
}

.action__pattern1 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -5rem;
}

.action__pattern2 {
    position: absolute;
    left: 35%;
    top: 10%;
}

.action__logo {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 10;
}

.action__pattern3 {
    position: absolute;
    margin-top: 3rem;
    right: -4rem;
    bottom: -4rem;
}

.action__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill-warning {
    fill: #f7c32e !important;
}

.opacity-5 {
    opacity: 0.5 !important;
}

.fill-info {
    fill: #17a2b8 !important;
}

.fill-orange {
    fill: #fd7e14 !important;
}


.opacity-4 {
    opacity: 0.4;
}

/* ============================================== */
/* feadback */
.feadback {
    margin-top: 5rem;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    position: relative;
}

.feadback__logo {
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    height: 200px;
}

.feadback__slide {
    margin-left: 0;
    margin-right: 0;
}

.feadback__client {
    margin-top: 2rem;
    background-color: var(--background-color);
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0.25rem;
}

.feadback__avatar {
    height: 3rem;
    width: 3rem;
    position: relative;
    display: inline-block !important;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    color: red;
}

.carousel-prev {
    position: absolute;
    background-color: #000;
    top: 50%;
    left: 1%;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    width: 3rem;
}

.carousel-next {
    position: absolute;
    background-color: #000;
    top: 47%;
    right: 10px;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    width: 3rem;
}

.carousel-prev>i {
    padding-left: 25%;
}

.carousel-next>i {
    padding-left: 0.8rem
}

.carousel-prev {
    animation: fadeOutLeft;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeoutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(30%);
    }
}

.carousel-next {
    animation: fadeoutRight;
    transition: all 0.2s;
    animation-fill-mode: forwards;
}

.carousel-next.hide {
    transform: translateX(50%);

}

/* animation prev and next */
.feadback__slide:hover .carousel-prev {
    animation: fadeInLeft;
    animation-duration: 0.2s;
}



.feadback__slide:hover .carousel-next {
    animation: fadeInRight;
    animation-duration: 0.2s;
}


/* ============================================================= */
/* footer */
.text-facebook {
    color: #5d82d1;
}

.text-instagram-gradient {
    background: radial-gradient(circle at 10% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.nav-link {
    color: #747579;
}



/* dark */
.banner__img--dark {
    display: none;
}

html[data-theme='dark'] .banner__img--dark {
    display: block;
}

html[data-theme='dark'] .banner__img--light {
    display: none;
}

/* scroll */
.navbar_stiky-on {
    position: fixed;
    z-index: 1020;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    animation: fadeInDown 0.5s;
    width: 100%;
    border-bottom: 1px solid;
    border-top: 0;
}


.navbar_stiky-on .navbar__start {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar_stiky-on .navbar__start img {
    height: 22px;
}


/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .download__pattern {
        right: 0 !important;
        top: -5rem;
        transform: translateX(10%);
    }

    .about__pattern {
        transform: translateX(-78px);

        top: -6rem;
    }

    .feadback__md {
        display: none;
    }

    .action__logo {
        right: 0 !important;
    }

    .action__pattern3 {
        transform: translateX(20%);
        right: 0 !important;
    }

    .download {
        overflow: hidden;
    }


}

/* ipad */
@media (max-width: 820px) {

    .about {
        margin-top: 6rem;
    }

    .about__pattern {
        transform: translateX(-78px);
        top: -3rem;
    }

    .about__pt {
        position: relative;
        order: 2;
    }

    .about__content {
        order: 1;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    html {
        font-size: 95%;
    }

    .about {
        margin-top: 3rem;
    }

    .about__pt {
        position: relative;
        order: 2;
    }

    .about__content {
        order: 1;
    }

    /* .container {
        padding-left: 2rem;
        padding-right: 2rem;
    } */

    .about__content {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .banner__pattern {
        position: absolute;
        top: -241px;
        right: 0;
    }

    .about__pattern {
        left: -1rem;
        top: -3rem;
    }

    .action__pattern1,
    .action__logo {
        display: none;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 80%;
    }

    .about {
        margin-top: -3rem;
    }

    .banner__pattern {
        top: -100px;
    }

    .container {
        padding-left: 2px;
        padding-right: 2px;
    }

    .font-weight-light {
        font-weight: 550 !important;
    }

    .about__content {
        margin-bottom: 4rem;
    }

    .mt-sm-5 {
        margin-top: 5rem !important;
    }

    .download {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .download__pattern {
        top: -8rem;
        transform: translateX(15%);
    }

    .action__pattern1 {
        display: none;
    }

    .action__logo {
        display: none;
    }

    .action__pattern3 {
        right: 2rem !important;
        bottom: 14rem;
    }

    .action__pattern2 {
        position: absolute;
        left: 11%;
        top: 31%;
    }

    .feadback__client {
        width: 85%;

        margin-left: 1.6rem;
        margin-right: 1.6rem;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
    }

    .feadback__avatar {
        height: 4rem;
        width: 4rem;
    }

    .feadback__avatar+h6 {
        font-size: 1rem !important;
    }

    .feadback__md {
        display: none;
    }

    .carousel-item>.row {
        margin-left: 2rem;

    }

    .about__pt {
        position: relative;
        order: 2;
    }

    .about__content {
        order: 1;
    }


}

@media (max-width: 400px) {
    .about__pattern {
        display: none;
    }
    .about {
        margin-top: 2rem;
    }
    .action__pattern3 {
        display: none;
    }

    .feadback__sm {
        display: none;
    }

    .action__pattern2 {
        position: absolute;
        left: 26%;
        top: 22%;
    }
}

.col-md-5 {
    padding-left: 0;
    padding-right: 0;
}



/* @media (min-width: 576px) {
    .container {
        max-width: 96%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 94%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 94%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
*/
@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}